.Equipment {
  width: 100%;
  position: fixed;
  top: 123px;
  left: 0;
  display: block;
  overflow-y: auto;
  height: calc(100% - 218px);
  font-family: "Acme", sans-serif;
}

.Equipment .equipmentForm {
  display: flex;
  flex-direction: column;
}

.Equipment .equipmentAddButton,
#equipmentItem {
  border-radius: 0;
  border: 2px solid black;
  background-color: #819c8e;
  color: black;
  padding: 8px;
  font-family: "Acme", sans-serif;
  font-size: large;
}

.Equipment .equipmentAddButton:hover,
#equipmentItem:hover {
  opacity: 0.85;
}

.Equipment #equipmentItem {
  border-bottom: 1px solid black;
}

.Equipment #equipmentItem::placeholder {
  color: black;
}

.Equipment .equipmentAddButton {
  width: 100%;
  border-top: 1px solid black;
}

.Equipment ul {
  overflow: hidden;
  list-style-type: none;
}

.Equipment li {
  float: left;
  display: block;
}

.Equipment .equipmentButton {
  padding: 2px;
  margin: 2px;
  font-family: "Acme", sans-serif;
  font-size: large;
  background-color: #408a8c;
  color: white;
  border-radius: 5px;
}

.Equipment .equipmentButton:hover {
  opacity: 0.75;
}

.Equipment input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill::first-line {
  -webkit-text-fill-color: black;
  transition: background-color 5000s ease-in-out 0s;
  background-color: #819c8e;
  font-family: "Acme", sans-serif;
}

@media only screen and (min-width: 768px) {
  .Equipment {
    width: 90%;
    margin-left: 10%;
    position: fixed;
    top: 123px;
    left: 0;
    display: block;
    overflow-y: auto;
    height: calc(100% - 123px);
  }
  .Equipment .equipmentForm {
    flex-direction: row;
    display: flex;
  }

  .Equipment #equipmentItem {
    width: 80%;
    padding: 15px;
    border-radius: 0;
    border: 2px solid black;
    border-right: 1px solid black;
  }

  .Equipment .equipmentAddButton {
    width: 20%;
    border-radius: 0;
    border: 2px solid black;
    border-left: 1px solid black;
  }
}
