.Equipment {
  width: 100%;
}

.Equipment .equipmentForm {
  display: flex;
  flex-direction: column;
}

.Equipment .equipmentAddButton {
  width: 100%;
}

.Equipment ul {
  overflow: hidden;
  list-style-type: none;
}

.Equipment li {
  float: left;
  display: block;
}

.Equipment .equipmentButton {
  padding: 2px;
  margin: 2px;
  font-size: x-large;
}

@media only screen and (min-width: 768px) {
  .Equipment {
    width: 90%;
    margin-left: 10%;
  }
  .Equipment .equipmentForm {
    flex-direction: row;
    display: flex;
  }

  .Equipment #equipmentItem {
    width: 125%;
  }

  .Equipment .equipmentAddButton {
    width: 75%;
  }
}
