.Favorites {
  position: fixed;
  top: 123px;
  left: 0;
  display: block;
  width: 100%;
  overflow-y: auto;
  height: calc(100% - (147px + 9vh));
  font-family: "Acme", sans-serif;
}

@media only screen and (min-width: 768px) {
  .Favorites {
    width: 99%;
    margin-left: 1%;
    position: fixed;
    top: 123px;
    left: 0;
    display: block;
    overflow-y: auto;
    height: calc(100% - 123px);
  }
}
