.Header {
  width: 100%;
  font-family: "Road Rage", cursive;
}

.Header :link {
  text-decoration: none;
  color: #063829;
}

.Header :visited {
  text-decoration: none;
  color: #063829;
}

.Header .logo {
  width: 100px;
  height: 100px;
}

.Header h1:hover {
  opacity: 0.85;
}

.Header {
  background-image: url(../assets/Banner.png);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .Header button {
  margin-right: 5px;
} */

.Header h1 {
  display: absolute;
  font-size: 50px;
}

.Header button {
  margin-right: 10px;
  background-color: #4285f4;
  border: 0px;
  color: white;
  padding: 8px;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  box-shadow: 0px 1px 1px black;
}

.Header button:hover {
  background-color: #80b0ff;
}
