.Header {
  width: 100%;
  font-family: "Road Rage", cursive;
}

.Header :link {
  text-decoration: none;
  color: #063829;
}

.Header :visited {
  text-decoration: none;
  color: #063829;
}

.Header .logo {
  width: 100px;
  height: 100px;
}

.Header {
  background-image: url(../assets/Banner.png);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .Header button {
  margin-right: 5px;
} */

.Header h1 {
  display: absolute;
  font-size: 50px;
}
