.Header {
  width: 100%;
  font-family: "Road Rage", cursive;
  background-image: url(../assets/Banner.png);
  height: 123px;
}

.Header :link {
  text-decoration: none;
  color: #063829;
}

.Header :visited {
  text-decoration: none;
  color: #063829;
}

.Header .logo {
  width: 100px;
  height: 100px;
}

.Header h1:hover {
  opacity: 0.85;
}

.Header h1 {
  position: absolute;
  left: calc(50% - 64px);
  top: 34px;
  font-size: 50px;
  margin: 0;
}

.Header button {
  position: absolute;
  right: 10px;
  top: 46px;
  background-color: #4285f4;
  border: 0px;
  color: white;
  padding: 8px;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  box-shadow: 0px 1px 1px black;
}

.Header button:hover {
  background-color: #80b0ff;
}
