.Intolerances {
  margin: 20px;
  width: 100%;
  font-family: "Acme", sans-serif;
}

.Intolerances .intolerancesContainer {
  display: flex;
  flex-direction: row;
  margin-left: 10vw;
}

.Intolerances .intolerances1,
.intolerances2 {
  flex: 1;
}

.Intolerances .intolerances1 {
  display: block;
}

.Intolerances input {
  height: 17px;
  width: 17px;
}

.Intolerances label {
  font-size: 20px;
}

.Intolerances button {
  position: relative;
  bottom: 5%;
  left: 49%;
  font-family: "Acme", sans-serif;
}

@media only screen and (min-width: 768px) {
  /* Desktop view */

  .Intolerances {
    margin: 0;
  }
  .Intolerances .intolerancesContainer,
  .intolerances1,
  .intolerances2 {
    margin-top: 3%;
    margin-left: 18%;
    margin-right: 18%;
  }

  .Intolerances input {
    position: relative;
    right: 25%;
  }

  .Intolerances label {
    margin: 0;
    padding-bottom: 5px;
    font-size: 30px;
  }

  .Intolerances input {
    height: 23px;
    width: 23px;
  }
  .Intolerances button {
    font-size: 30px;
  }
}
