.Intolerances {
  margin: auto 0;
  width: 100%;
  font-family: "Acme", sans-serif;
  display: flex;
  flex-direction: column;
}

.Intolerances .intolerancesContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Intolerances .intolerancesCol1,
.intolerancesCol2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Intolerances input {
  height: 25px;
  width: 25px;
}

.Intolerances label {
  font-size: 30px;
}

.Intolerances button {
  margin: 0 auto;
  padding: 2px;
  font-family: "Acme", sans-serif;
  font-size: 30px;
  background-color: #408a8c;
  color: white;
  border-radius: 5px;
}

.Intolerances button:hover {
  opacity: 0.75;
}

@media only screen and (min-width: 768px) {
  .Intolerances {
    margin: 20px 0px 0px 10%;
    width: 90%;
  }

  .Intolerances .intolerancesContainer {
    display: flex;
  }

  .Intolerances .intolerancesCol1,
  .intolerancesCol2 {
    width: 80%;
  }

  .Intolerances .intolerancesCol1 {
    flex: 0.44;
  }

  .Intolerances .intolerancesCol2 {
    flex: 0.66;
  }

  .Intolerances button {
    margin-left: calc(44% - 28.17px);
  }
}
