.Navigation {
  display: flex;
  justify-content: space-between;
}

.Navigation :link {
  text-decoration: none;
}

.Navigation img {
  width: 50%;
}

/* .Navigation .notSignedIn {
  display: flex;
  justify-content: space-between;
} */

.Navigation .notSignedIn {
  opacity: 50%;
}
