.Navigation .navContainer {
  display: flex;
  padding-top: 10px;
  padding-left: 10px;
}
.Navigation img {
  height: 9vh;
  padding-left: 5px;
  padding-right: 5px;
}

@media only screen and (min-width: 768px) {
  .Navigation {
    position: fixed;
    top: 120px;
    left: 1vw;
    margin: 0;
    width: 10vw;
  }

  .Navigation .navContainer {
    display: flex;
    width: 150px;
    flex-direction: column;
    padding-left: 0;
  }

  .Navigation :link {
    text-decoration: none;
    width: 150px;
  }

  /* .Navigation .notSignedIn {
  display: flex;
  justify-content: space-between;
} */

  .Navigation .notSignedIn {
    opacity: 50%;
  }
}
