@media only screen and (max-width: 768px) {
  .Navigation {
    position: fixed;
    top: 120px;
    left: 0;
    margin: 0;
  }

  .Navigation .navContainer {
    display: flex;
    width: 150px;
    flex-direction: column;
  }

  .Navigation :link {
    text-decoration: none;
    width: 150px;
  }

  .Navigation img {
    width: 100px;
    height: 100px;
  }

  /* .Navigation .notSignedIn {
  display: flex;
  justify-content: space-between;
} */

  .Navigation .notSignedIn {
    opacity: 50%;
  }
}
