.Pantry {
  width: 100%;
  position: fixed;
  top: 15.4%;
  left: 0;
  display: block;
  overflow-y: auto;
  height: calc(100% - 220px);
}

.Pantry .pantryForm {
  display: flex;
  flex-direction: column;
}

.Pantry .addFoodButton {
  width: 100%;
}

.Pantry ul {
  overflow: hidden;
  list-style-type: none;
}

.Pantry li {
  float: left;
  display: block;
}

.Pantry .foodButton {
  padding: 2px;
  margin: 2px;
  font-size: x-large;
}

@media only screen and (min-width: 768px) {
  .Pantry {
    width: 90%;
    margin-left: 10%;
    overflow-y: auto;
    position: fixed;
    top: 123px;
    left: 0;
    display: block;
    overflow-y: auto;
    height: calc(100% - 123px);
  }
  .Pantry .pantryForm {
    flex-direction: row;
    display: flex;
  }

  .Pantry #foodItem {
    width: 80%;
    padding: 15px;
    border-radius: 0;
    border: 2px solid black;
  }

  .Pantry .addFoodButton {
    width: 20%;
    border: 2px solid black;
  }
}
