.Search {
  width: 100vw;
}

.Search .searchForm {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.Search .cuisineButton {
  width: 100vw;
}

.Search .searchButton {
  width: 100vw;
}

.Search label {
  font-size: x-large;
}

.Search .inputLabelContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 0px;
}

@media only screen and (min-width: 768px) {
  .Search {
    width: 100%;
  }
  .Search .searchForm {
    width: 90%;
    margin-left: 10%;
    flex-direction: row;
  }

  .Search .cuisineBox {
    position: fixed;
    top: 145px;
    left: 55%;
    display: block;
    width: 22.5%;
    overflow-y: auto;
    height: calc(100% - 145px);
  }

  .Search #searchTerm {
    width: 50%;
  }

  .Search .cuisineButton {
    width: 25%;
  }

  .Search .searchButton {
    width: 25%;
  }

  .Search label {
    font-size: large;
  }
}
